{% extends 'base.html' %}
{% block local_css %}
	<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock local_css%}
{% block navbarButtons %}
<!--     <li class="active"><a class="nav_btn" href="dashboard">Dashboard <span></span></a></li>
    <li><a href="profile" class="nav_btn">My profile <span ></span></a></li> -->
	<li ><span class= 'nav_btn_holder' = ><a class="nav_btn" href="{% url 'dashboard' %}"> Dashboard </a></span></li>
    <li ><span class= 'nav_btn_holder' = ><a class="nav_btn" href="profile"> My profile </a></span></li>
    {% endblock navbarButtons %}
    {% block login %}
    <a  href='/logout' type="submit" role = "button" class="logout-btn">Logout</a>
    {% endblock login %}
{% block body %}
	<div class='row'>
		<div class='col-md-1'></div>
		<div class='col-md-10'>
			<h1> Welcome {{ first_name }} </h1>
			<a href='editor/0' role='button' type="button" class="btn mButton">Start New Document</a> <br>
			{% for doc in documents %}
				
					<div class='doc_thumb col-md-2'>
						<a href="{% url 'delete_document' doc.id %}"><span class="glyphicon glyphicon-remove pull-right deleteDocument" aria-hidden="true"></span></a>
						<div class='row'>
							<div class='doc_name col-md-2'>
				
								<a href="editor/{{ doc.id }}">
									<p class='lead'>{{ doc.title }}</p>
								</a>
							</div>						
						</div>
						<div class='row'>
							<div class='col-md-1'>
								<span class="glyphicon glyphicon-time"></span>
							</div>
							<div class='col-md-10'>
								<p>{{ doc.date_modified }}</p>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>
		<div class='col-md-1'></div>
	</div>

	
{% endblock %}