{% extends 'base.html' %}
{% block local_css %}
	<link rel="stylesheet" href="/static/css/update_profile.css">
{% endblock %}
{% block background_img %}
<img src="../static/images/bg9.jpg" alt="hello" class="blur-bg" />
{% endblock background_img %}
{% block navbarButtons %}
    <li><a class="nav-btn" href="dashboard">Dashboard <span></span></a></li>
    <li class="active"><a href="profile" class="nav-btn">My profile <span ></span></a></li>
    {% endblock navbarButtons %}
    {% block login %}
    <a  href='/logout' type="submit" role = "button" class="logout-btn">Logout</a>
    {% endblock login %}
{% block main_container %}
<div class="main-container ">
	<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 ">

		<div class = 'signup_box'>
			<form method="post" action="update_profile">
			<table class = 'signup_rows'>
			{% for field in form.hidden_fields %}
			{{ field }}
			{% endfor %}
			{% for field in form.visible_fields %}
			 <tr>
                <td>{{field.label_tag}}</td>
                <td>{{field}}</td>
                <td style="color: red">{{field.errors}}</td>
              </tr>
			{% endfor %}
			</table>
			{% for field in form.hidden_fields %}
			{{ field }}
			{% endfor %}
			{% csrf_token %}
			<input type="submit" class="signup_button" value="Update Profile" />
			</form>
		</div>
	</div>
</div>
{% endblock main_container %}

