.blur-bg
{
	background-attachment: fixed;
	-webkit-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	min-height: 800px
}
.main-container
{
	 padding: 200px 0;

}
.dropdown-toggle
{
	font-style: normal;
}
.signup_rows{
    width: 300px;
}
.signup_box
{
	height: 370px;
	padding: 10px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: : 30px;
    border-radius: 10px;
    background-color: rgba(73,156,202,0.6);
    border-bottom-color: #ccc;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}